/* Estilos generales layout */
html {
    width: 1280px;
    margin: 0 auto;
}

body {
    margin: 0;
    width: 1280px;
    background-image: url("imagen/imagen.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 1280px;
    height: 80px;
    background-color: white;
    position: relative;
}

nav {
    width: 1280px;
    height: 60px;
    margin: 0;
    background-color: #006293;
}

main {
    /* Ancho total caja 1100px - padding 50px*2 = 1000px */
    width: 1000px;
    margin: 10px auto;
    padding: 20px 50px;
    border-radius: 4px;
    background-color: #006293;
}

section {
    /* Ancho total caja 1000px - padding 20px*2 = 960px */
    width: 960px;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 4px;
    background-color: white;
}

section:last-child {
    margin-bottom: 0;
}

footer {
    width: 1280px;
    height: 80px;
    line-height: 80px;
    background-color: #006293;
}

/* Estilos elementos header */
header p {
    display: block;
    width: 1280px;
    height: 80px;
    line-height: 80px;
    margin: 0;
    text-align: center;
    color: #006293;
    font-size: 2rem;
    font-weight: bold;
}

header img {
    height: 60px;
    width: 120px;
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Estilos menú nav */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0 420px;
    height: 60px;
}

nav li {
    /* Ancho total caja 220px - padding 10px*2 = 200px */
    width: 200px;
    /* Altura total caja 60px - padding 10px*2 = 40px */
    height: 40px;
    padding: 10px;
    line-height: 40px;
    float: left;
}

nav a {
    width: 200px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #0079b6;
    display: block;
}

nav a:hover {
    background-color: #003f5f;
}

/* Estilos elementos footer */

footer p {
    margin: 0;
    text-align: center;
    color: white;
}

/* Estilos section */

h2 {
    text-align: center;
}

span {
    font-weight: bold;
}

ol {
    list-style-type: upper-roman;
}

ol p {
    margin-top: 0;
}

figure {
    width: 500px;
    margin: 0 auto;
}

figure img {
    width: 500px;
    height: 500px;
}

figcaption {
    text-align: center;
}

/* Estilos formulario */

label[for="nombre"],
label[for="interes"] {
    margin-bottom: 5px;
    display: block;
}

input[type="text"] {
    /* Ancho total caja 200 - padding 20px*2 = 160px */
    width: 160px;
    padding: 10px 20px;
}

select {
    width: 200px;
}

.div_inputs {
    margin-bottom: 20px;
}

form p {
    margin: 0;
    margin-bottom: 5px;
}